<!--<h1>Edit Conversation</h1>-->

<%= turbo_frame_tag @conversation do %>
  <%= render "conversation_form" %>

  <%= link_to 'Cancel', conversation_path(@conversation) %>
<% end %>

<!--<%=render "conversation_form", conversation: @conversation%>-->

