<h1>Conversations</h1>
<ul>
    <% @conversations.each do |conversation| %>
      <li>
        <a href="<%= conversation_path(conversation) %>"><%= conversation.title %></a>
      </li>
    <% end %>
</ul>
<a href="<%= new_conversation_path %>">New Converation</a>