<h1><%= @conversation.title %></h1>

<p><%= @conversation.body %></p>

<ul>
  <li><a href="<%= edit_conversation_path(@conversation) %>">Edit Converation</a></li>
  <li><%= link_to "Destroy", conversation_path(@conversation), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>